:root {
    --mainDark: #233A5F;
    --mainBlack: #2A2A2A;
    --mainWhite: #FFFFFF;
    --mainGrey: #878787;
    --lightGrey: #C3C2C2;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

body {
    width: screen;
    height: max-content;
}

.container-all {
    display: flex;
    flex-direction: row;
}

.sidebar {
    color: white;
    flex: 2;
    background-color: var(--mainDark);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mobileSidebar.sidebar {
    display: none;
}

.sidebar .navbar {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sidebar .navbar button {
    flex: 3;
    padding: 15px;

    color: var(--mainWhite);
    border-bottom: 2px solid var(--mainWhite);
}

.sidebar .navbar button:first-child {
    flex: 1;
    padding: 15px;
    color: var(--mainWhite);
    /* border: 2px solid var(--mainWhite); */
}

.sidebar .navbar button.active {
    padding: 15px;
    background-color: var(--mainWhite);
    color: var(--mainBlack);
    border-bottom: 2px solid var(--mainDark);
}

.potrait {
    max-width: 50%;
    border-radius: 50%;
    margin: 20px;
}

.sidebar .nameContainer {
    text-align: center;
}

.sidebar .nameContainer p {
    color: var(--lightGrey)
}

.sidebar .infoContainer span {
    display: block;
    text-align: center;
    color: var(--mainDark);
    background-color: var(--mainWhite);
    margin: 20px;
    padding: 5px 20px;
    border-radius: 10px;
}

.sidebar .ulContainer {
    padding: 0 20px 0 60px;
    text-align: left;
    color: white;
}

.sidebar .ulContainer b {
    font-size: large;
    line-height: 250%;
    /* padding: 0 10px 10px 0; */
    margin-bottom: 10px;
}

.sidebar .ulContainer a {
    color: var(--mainWhite);
}

.sidebar .ulContainer li {
    font-size: 1.2em;
}

.content {
    flex: 5;
}

.greyContent {
    font-style: italic;
    color: var(--lightGrey);
}

.padding-10 {
    padding: 10px;
}

.contentFrame {
    padding: 60px 60px 0 60px;
}

.contentFrame:last-child {
    padding: 60px;
}

.contentTitle {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.littleLine {
    height: 4px;
    width: 80px;
    background-color: var(--mainDark);
    border-radius: 2px;
}

.contentDescription {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}

.contentDescription p {
    color: var(--mainGrey);
    margin: 20px 0;
}

p.contentDescriptionSubtitle {
    color: var(--mainDark);
}

.contentDescription img {
    width: 20%;
    height: fit-content;
}

.mainContent {
    width: 70%;
}

h3 {
    font-size: 1.6em;
}

p {
    font-size: 1.2em;
}

@media screen and (max-width: 920px) {
    .sidebar {
        display: none;
        position: fixed;
        width: 80%;
    }

    .sidebar.mobileSidebar {

        display: flex;
        position: fixed;
        width: 20px;
        top: 0;
        left: 0;
        height: 100%;
    }

    .sidebar.mobileSidebar .navbar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    .sidebar.mobileSidebar .navbar button {
        transform: rotate(-90deg);
        z-index: 5;
    }
}