:root {
    --mainDark: #233A5F;
    --mainBlack: #2A2A2A;
    --mainWhite: #FFFFFF;
    --mainGrey: #878787;
    --lightGrey: #C3C2C2;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: max-content;
}

body {
    display: flex;
    justify-content: center;
    width: screen;
    z-index: 1;
    height: max-content;
}

.container-all {
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.sidebar {
    color: white;
    flex: 2;
    background-color: var(--mainDark);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mobileSidebar.sidebar {
    display: none;
}

.sidebar .navbar {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sidebar .navbar button {
    flex: 3;
    padding: 15px;

    color: var(--mainWhite);
    border-bottom: 2px solid var(--mainWhite);
}

.sidebar .navbar button:first-child {
    flex: 1;
    padding: 15px;
    color: var(--mainWhite);
    /* border: 2px solid var(--mainWhite); */
}

.sidebar .navbar button.active {
    padding: 15px;
    background-color: var(--mainWhite);
    color: var(--mainBlack);
    border-bottom: 2px solid var(--mainDark);
}

.potrait {
    max-width: 50%;
    border-radius: 50%;
    margin: 20px;
}

.sidebar .nameContainer {
    text-align: center;
}

.sidebar .nameContainer p {
    color: var(--lightGrey)
}

.sidebar .infoContainer span {
    display: block;
    text-align: center;
    color: var(--mainDark);
    background-color: var(--mainWhite);
    margin: 20px;
    padding: 5px 20px;
    border-radius: 10px;
}

.sidebar .ulContainer {
    border-top: 5px solid white;
    border-radius: 15px 15px 0 0 ;
    margin: 15px 0 0 0;
    padding: 0 20px 0 60px;
    text-align: left;
    color: white;
}

.sidebar .ulContainer b {
    font-size: large;
    line-height: 250%;
    /* padding: 0 10px 10px 0; */
    margin-bottom: 10px;
}

a {
    color: var(--mainWhite);
}

.sidebar .ulContainer li {
    font-size: 1.2rem;
}

.my_personal_account_link{
    text-decoration: none;
    list-style: none;
    font-style: normal;
    color: black;
}
.my_personal_account_link div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.my_personal_account_link div li {
    border: 1px solid var(--mainWhite);
    /* background-color: var(--mainWhite); */
    width: 150px;
    max-width: 300px;
    border-radius: 15px;
    /* height: 45px; */
    /* width: 40%; */
    color: var(--mainWhite);
    margin: 15px 0 15px 0;
    padding: 10px;
    position: relative;
    text-align: center;

}

.my_personal_account_link div li a.padding-10{
    width: 100%;
    color: inherit;
    padding: 20px;
    /* color: var(--mainWhite); */
    /* padding: 30px; */
}
.my_personal_account_link .my_personal_account_link_li:hover {
    transition: 0.2s ease-in-out;
    background-color: var(--mainWhite);
    color: var(--mainBlack);
}


.li_header {
    /* height: 50px; */
    color: var(--mainBlack);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), var(--lightGrey));
    padding: 0 0 0 40px;
    margin: 20px 0 20px -40px;
    border-radius: 10px;
    border-bottom: 1px solid var(--mainBlack);
}

.content {
    flex: 5;
    z-index: 1;
}

.greyContent {
    font-style: italic;
    color: var(--lightGrey);
    z-index: 1;
}

.padding-10 {
    padding: 10px;
    z-index: 1;
}

.contentFrame {
    padding: 60px 60px 0 60px;
    z-index: 1;
}

.contentFrame:last-child {
    padding: 60px;
    z-index: 1;
}

.contentTitle {
    font-size: 1.5rem;
    margin-bottom: 30px;
    z-index: 1;
}

.littleLine {
    height: 4px;
    width: 80px;
    background-color: var(--mainDark);
    border-radius: 2px;
    z-index: 1;
}

.contentDescription {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    position: relative;
    z-index: 1;
}

.contentDescription p {
    color: var(--mainGrey);
    margin: 20px 0;
    z-index: 1;
}

p.contentDescriptionSubtitle {
    color: var(--mainDark);
    z-index: 1;
}

.contentDescription img {
    width: 20%;
    height: fit-content;
    z-index: 1;
}

.mainContent {
    position: relative;
    width: 70%;
    z-index: 1;
}
#job_synopsys {
    padding: 0 0 0 20px;
    border-left: 1px solid var(--mainGrey);
    z-index: 1;
}
#job_synopsys::before{
    content: "";
    position: absolute;
    left: -10px;
    top: 10px;
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    z-index: 1;
}

h3 {
    font-size: 1.6rem;
    z-index: 1;
}

p {
    font-size: 1.2rem;
    z-index: 1;
}

@media screen and (max-width: 920px) {
    .sidebar .navbar{
        /* position: absolute; */
        left: 30px;
        width: 95vw;
        position: fixed;
        z-index: 9999;
        background-color: white;
    }
    .content {
        margin-top: 30px;
    }
    .sidebar .navbar button {
        color: black;
        z-index: 9999;
        background-color: white;
    }
    .sidebar .navbar button i{
        color: black;
        z-index: 9999;
    }
    .sidebar {
        display: none;
        position: absolute;
        width: 80%;
    }
    .sidebar.mobileSidebar {

        display: flex;
        position: fixed;
        width: 20px;
        top: 0;
        left: 0;
        height: 100%;
    }

    /* .sidebar.mobileSidebar .navbar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    .sidebar.mobileSidebar .navbar button {
        transform: rotate(-90deg);
        z-index: 5;
    } */
    .my_personal_account_link div{
        display:block;
        justify-content:start;
    }
    h3 {
        font-size: 1.3rem;
    }
    
    p {
        font-size: 1rem;
    }
    .contentFrame {
        padding: 60px 20px 0 40px;
    }
}